.answer {
  padding: 10px 20px;
  width: 300px;
  height: 60px;
  margin: 20px 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: left;
  background-color: white;
  transition: all 0.5s ease;

  @media screen and (max-width: 426px) {
    font-size: 20px;
    height: 40px;
    margin: 15px 15px;
  }
}

.clickable {
  &:not(.selected):hover {
    // background-color: black;
    transform: translateY(-10px);
    // color: white;
  }
}

.selected {
  color: white;
}

.correct {
  background-color: #6dd27d;
}

.incorrect {
  background-color: #ef6d5f;
}
