html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 203, 203);
  background: url("./images/desktop-background.jpg");
  background-size: cover;
}
